<h1>Welcome to Sevvy's Art Gallery</h1>
<p>Here you will find many beautiful pieces of art created by local seattle queer artist Sevvy Graves. Many of these pieces are for sale and will look great over your fireplace</p>
