i#headerbox {
    width: 50%;
    margin: 0 auto;
}
img.headerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerlinks {
    text-align: center;
}

.footer {
    text-align: center;
    font-size: 75%;
}

.blogtitlebox {
    clear: both;
    height: 70px;
    border-width: 0px 0px 5px 0px;
    border-style: dotted;
}

.blogbox {
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 6px;
    box-shadow: -10px 10px 2px #000000;
}


.bodybox {
    width: 720px;
    margin: auto;
}


   li.artpiece 	 {
        width: 200px;
        min-height: 250px;
        border: 1px solid #000;
        display: inline-block;
        margin: 5px;
    }
    ul.artlist {
	   margin: 0 auto;
    text-align: center;
-moz-column-count: 2; /* For FireFox */
-webkit-column-count: 2; /* For Safari/Chrome */
column-count: 2; /* For when the standard gets fully supported */
}

.blogtitle {
   text-align: left;
   float: left;
}

.blogcreatedat {
   text-align: right;
   float: right;
   width: 150px;
}

.blogcomleftcolumn {
   text-align: left;
   height: 100%; 
   width: 100px;
   display: inline-block;
}

.blogcomrightcolumn {
   float: right;
   display: inline-block;
   width: 100px;
}

.commentpost {
   padding: 5px;
   margin: 64px;
   border: solid 3px;
}

.commenttitle {
  padding: 2px;
  margin: 2px;
  font-size: 14px;
}


.commentauthor {
  padding: 1px;
  margin: 1px;
  font-size: 10px;	
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
